body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav {

    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 3px solid #aaa;

}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

.inactive-btn {
    background-color: #c4c4c4;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    height: 80px;
    width: 240px;
}

.active-btn {
    background-color: #8bc540;
}

.logo img {
    height: 40px;
    width: auto;
    margin-left: 120px;
}

.info-icon {
    border: 3px solid #2F444E;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-right: 120px;
    width: 35px;
}

.info-icon:hover {
    border-color: #8bc540;
}

.info-icon:hover rect,
.info-icon:hover circle {
    fill: #8bc540;
}

.content-container {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.drop-area-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px auto 0;
}

.drop-area {
    box-sizing: border-box;
    background-image: url("../static/assets/upload_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    border: 4px dashed #aaa;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 1em;
    height: 500px;
    width: 800px;
}

.error-msg-container {
    color: #C00000;
    display: flex;
    visibility: hidden;
    align-items: flex-start;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    justify-content: center;
    line-height: 23px;
    height: 50%;
    padding-top: 50px;
    text-align: center;
}

.error-msg {
    background-color: #FBC2C1;
    border-radius: 30px;
    padding: 17px 0;
    width: 600px;
}

.drop-area__text-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50%;
    margin-bottom: 0;
    padding-bottom: 100px;
}

.drop-area__text {
    color: #aaa;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
}

#upload {
    display: none;
}

.drop-area__over {
    background-image: url("../static/assets/upload_icon_green.svg");
    border: 4px solid #8bc540;
}

.drop-area__over-text {
    color: #8bc540;
}

.drop-area__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.drop-area-uploaded {
    background-color: rgba(139, 197, 64, 0.1);
    border-radius: 40px;
    display: none;
    flex-direction: column;
    margin: 0 auto 1em;
    height: 500px;
    width: 800px;
}

.drop-area-uploaded__heading {
    margin: 100px auto 55px;
}

.drop-area-uploaded__heading h2 {
    color: #2F444E;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.drop-area-uploaded__content-container {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.drop-area-uploaded__content {
    display: flex;
    align-items: center;
    color: #2F444E;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 35px;
}

.drop-area-uploaded__content img {
    height: 40px;
    width: 40px;
    margin-right: 25px;
}

.info-block {
    align-items: flex-end;
    background-color: #fff;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100vh - 113px);
    margin-left: 20px;
    max-width: 400px;
    padding-top: 30px;
}

.info-block__closeBtn {
    align-self: flex-end;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border: 3px solid #2F444E;
    border-radius: 10px;
    margin-right: 30px;
    height: 35px;
    width: 35px;
}

.info-block__closeBtn:hover {
    border-color: #8bc540;
}

.info-block__closeBtn:hover line {
    stroke: #8bc540;
}

.info-block__text-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 40px 35px 0 30px;
}

.info-block__text {
    color: #6a6a6a;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;

}

.popup-background {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.popup-container {
    background-color: #fff;
    border-radius: 40px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 180px auto 1em;
    padding: 50px;
    position: relative;
    width: 700px;
}

.popup__icon {
    height: 50px;
    width: auto;
}

.popup-heading {
    color: #2F444E;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    margin: 35px auto 35px;
    text-align: center;
}

.popup-text {
    color: #6a6a6a;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin: 0 auto 55px;
    text-align: center;
}

.popup-loader {
    background-color: #8BC540;
    border-radius: 4px;
    margin: 0;
    height: 50px;
    width: 50px;
}

#popup-completed {
    padding-top: 90px;
    padding-bottom: 60px;
}

.popup-completed__closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

@media (max-width: 1024px) {
    .drop-area {
        background-size: 70px;
        height: 300px;
        width: 450px;
    }

    .drop-area__text {
        font-size: 24px;
        line-height: 28px;
    }

    .drop-area__text-container {
        padding-bottom: 60px;
    }
}