body {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img {
    height: 6vh;
    margin: .4em;
}

.info-icon {
    position: relative;
    border: solid 4px #8bc540;
    border-radius: 20%;
    color: #8bc540;
    cursor: pointer;
    height: 5vh;
    font-size: 1.5em;
    margin: .4em;
    text-align: center;
    width: 5vh;
}

.info-icon p{
    margin: 0;
}

.content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
    margin: 0 auto;
    width: 60vw;
}

.drop-area {
    box-sizing: border-box;
    background-image: url("../static/assets/upload_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14vh;
    border: 4px dashed #aaa;
    border-radius: 10%;
    color: #aaa;
    cursor: pointer;
    margin: auto auto 1em;
    text-align: center;
    height: 45vh;
    width: 33vw;
}

#upload {
    display: none;
}

.drop-area__over {
    background-image: url("../static/assets/upload_icon_green.svg");
    border: 4px solid #8bc540;
    color: #8bc540;
}

.error-msg {
    display: none;
    background-color: #f0c0c0;
    border-radius: 10px;
    color: red;
    font-size: .8em;
    font-weight: bold;
    margin-top: 2em;
    text-align: center;
    width: 33vw;
}

.uploaded-files {
    align-items: center;
    color: #8bc540;
    display: none;
    flex-direction: row;
    font-size: .8em;
    height: 40vh;
    text-align: center;
    width: 33vw;
}

.uploaded-files img {
    width: 60%;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #8bc540;
    border: medium solid #8bc540;
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    color: white;
    cursor: pointer;
    height: 110px;
    margin: 1em auto auto;
    width: 110px;
}

.btn:hover {
    background-color: #83be35;
    border: medium solid #83be35;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
