<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/dom_logo.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Анализ транзакций</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='assets/security_logo.png') }}", alt="logo"></a>
        </div>
        <div class="info-icon">
            <svg width="10" height="24" viewBox="0 0 10 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="12" width="4" height="7" rx="2" transform="rotate(-90 0 12)" fill="#2F444E"/>
                <rect x="3" y="24" width="4" height="7" rx="2" transform="rotate(-90 3 24)" fill="#2F444E"/>
                <circle cx="5" cy="2" r="2" fill="#2F444E"/>
                <rect x="3" y="8" width="4" height="16" rx="2" fill="#2F444E"/>
            </svg>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>